<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1049022013813-5vhhi6d4h9qc222kgd0ucpgr5gebsid5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1049022013813-5vhhi6d4h9qc222kgd0ucpgr5gebsid5</string>
	<key>API_KEY</key>
	<string>AIzaSyDBqsdoK_HQePQ7ZznWB45D5Z1l9LD5jo8</string>
	<key>GCM_SENDER_ID</key>
	<string>1049022013813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CS329.BreezyStudios</string>
	<key>PROJECT_ID</key>
	<string>breezystudios-94207</string>
	<key>STORAGE_BUCKET</key>
	<string>breezystudios-94207.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1049022013813:ios:d4f56570f43048af4ab33c</string>
</dict>
</plist>